# autoscan by-products
autoscan-2.*.log
configure.scan

# autoreconf by-products
Makefile.in

aclocal.m4
autom4te.cache/
config.guess
config.h.in
config.sub
configure
depcomp
install-sh
ltmain.sh
m4/
missing

# configure by-products
*.pc
.deps
Makefile

config.h
config.log
config.status
libtool
stamp-h1

# build by-products
.libs
*.o
*.la
*.lo

libgsmhr/refsrc

# GNU autotest
tests/package.m4
tests/atconfig
tests/atlocal
tests/testsuite
tests/testsuite.dir/
tests/testsuite.log
tests/*/*_test

# final executables
src/osmo-gapk

# temporary/backup files
*.*~
.*.swp
/compile
.dirstamp

