#!/usr/bin/make -f

%:
	dh $@ --with autoreconf

override_dh_auto_configure:
	touch libgsmhr/.downloaded  # Don't fetch 3GPP sources
	dh_auto_configure

# Print test results in case of a failure
override_dh_auto_test:
	dh_auto_test || (find . -name testsuite.log -exec cat {} \; ; false)
